@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-textarea';
.#{$prefix} {
  @include basic;

  display: flex;
  width: 240px;
  padding: 4px 8px;
  background: $bg-1;
  transition: all $duration-f ease-out;

  &-bordered {
    border: 1px solid $divider;
    border-radius: $radius-m;
  }

  &-inner {
    @include scrollbar;

    resize: none;
    flex: 1;
    min-height: 22px;
    padding: 0 4px;
    font-family: inherit;
    line-height: 1.65;
    color: $text-1;
    background: transparent;
    border: 0;
    outline: 0;

    &::placeholder {
      color: $text-3;
    }

    &-lock-scroll {
      overflow-y: hidden;
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: $opacity-disabled;

    .#{$prefix}-inner {
      cursor: not-allowed;
    }
  }

  &:not(&-disabled) {
    &.#{$prefix}-focus,
    &:active {
      &.#{$prefix}-bordered {
        &.#{$prefix}-outline {
          border-color: $color-primary;
          box-shadow: inset 0 0 0 1px $color-primary;
        }
      }
    }
  }
}
