@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-upload';
.#{$prefix} {
	@include basic;
	position: relative;
	display: flex;
	border-radius: $radius-m;
	background-color: $bg-2;
	transition: all $duration-n;
	cursor: pointer;
	user-select: none;
	padding: 8px;
	border-radius: $radius-m;
	border: 1px dashed $bd-line;
	width: max-content;

	&-circle {
		border-radius: $round;

		.#{$prefix}-thumb {
			border-radius: $round;
		}
	}

	&:not(&-disabled) {
		&:has(:focus-visible) {
			@include focus-outline;
		}
		
		&:hover {
			border-color: $color-primary;
		}
	}

	&-disabled {
		cursor: not-allowed;
		opacity: $opacity-disabled;
	}

	&-inner {
		opacity: 0;
		width: 0;
		height: 0;
		margin: 0;
	}

	&-plus-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $text-3;
		font-size: 24px;
	}

	&-thumb-default {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 72px;
		height: 72px;
	}

	&-thumb {
		object-fit: contain;
	}
}
