@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-button';
.#{$prefix} {
	@include basic;

	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 0 12px;
	background-color: $bg-1;
	border: 1px solid $divider;
	border-radius: $radius-m;
	outline: none;
	transition: all $duration-f;

	&-inner-ml {
		margin-left: 8px;
	}

	&-inner-mr {
		margin-right: 8px;
	}

	&-small {
		min-height: 24px;
		&.#{$prefix}-circle,
		&.#{$prefix}-square {
			width: 24px;
			min-width: 24px;
		}
	}

	&-medium {
		min-height: 32px;
		&.#{$prefix}-circle,
		&.#{$prefix}-square {
			width: 32px;
			min-width: 32px;
		}
	}

	&-large {
		min-height: 40px;
		&.#{$prefix}-circle,
		&.#{$prefix}-square {
			width: 40px;
			min-width: 40px;
		}
	}

	&-primary {
		color: #fff;
		background-color: $color-primary;
		border: 1px solid $color-primary;
	}

	&-danger {
		color: #fff;
		background-color: $color-danger;
		border: 1px solid $color-danger;
	}

	&:not(&-disabled) {
		&:hover {
			@media (hover: hover) {
				background-color: $color-hover;

				&.#{$prefix}-primary {
					background-color: $color-primary-hover;
				}

				&.#{$prefix}-danger {
					background-color: $color-danger-hover;
				}
			}
		}

		&:active {
			background-color: $color-active;

			&.#{$prefix}-primary {
				background-color: $color-primary-active;
			}

			&.#{$prefix}-danger {
				background-color: $color-danger-active;
			}
		}

		&:focus-visible {
			@include focus-outline;
		}
	}

	&-disabled {
		cursor: not-allowed;
		opacity: $opacity-disabled;
	}

	&-text {
		background-color: transparent;
		border: none;

		&:not(.#{$prefix}-disabled) {
			&:hover {
				@media (hover: hover) {
					background-color: $color-hover;
				}
			}

			&:active {
				background-color: $color-active;
			}
		}
	}

	&-round {
		border-radius: $round;
	}

	&-circle {
		padding: 0;
		border-radius: $round;
	}

	&-square {
		padding: 0;
		border-radius: $radius-m;
	}
}
