body {
	scroll-behavior: auto;
	min-width: 900px;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: var(--ui-font-size-m);
	color: var(--ui-text-1);
	background-color: var(--ui-bg-0);
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}
