@use 'sass:meta';
@use '@youknown/css/src/theme-base' as *;

.light-theme {
  --ui-bg-0: #fff;
  --ui-bg-1: #fff;
  --ui-bg-2: #f4f4f4;
  --ui-bg-3: #eee;
  --ui-divider: #dee0e3;
  --ui-pop-bd: transparent;
  --ui-scrollbar: 27, 27, 27;
  --ui-text-1: #1f2329;
  --ui-text-2: #646a73;
  --ui-text-3: #999;
  --ui-color-hover: #f5f5f4;
  --ui-color-active: #e7e5e4;
  --ui-color-secondary-hover: #e4e6e7;
  --ui-color-secondary-active: #cfd2d2;
  --ui-color-focus: #000;

  @include meta.load-css('highlight.js/styles/github.min.css');
}

.dark-theme {
  --ui-bg-0: #1e1e1e;
  --ui-bg-1: #2b2b2b;
  --ui-bg-2: #292929;
  --ui-bg-3: #303033;
  --ui-divider: #424248;
  --ui-pop-bd: #424248;
  --ui-scrollbar: 200, 200, 200;
  --ui-text-1: #fff;
  --ui-text-2: #ccc;
  --ui-text-3: #999;
  --ui-color-hover: #373737;
  --ui-color-active: #424547;
  --ui-color-secondary-hover: #3f3f3f;
  --ui-color-secondary-active: #494949;
  --ui-color-focus: #fff;
  --ui-shadow-s:
    0px 2px 1px -1px rgb(0, 0, 0, 0.4), 0px 1px 1px 0px rgb(0, 0, 0, 0.28), 0px 1px 3px 0px rgb(0, 0, 0, 0.24);
  --ui-shadow-m: 0 6px 16px 0 rgb(0, 0, 0, 0.16), 0 3px 6px -4px rgb(0, 0, 0, 0.24), 0 9px 28px 8px rgb(0, 0, 0, 0.1);
  --ui-shadow-l: rgb(14, 18, 22, 0.7) 0px 10px 38px -10px, rgb(14, 18, 22, 0.4) 0px 10px 20px -15px;

  @include meta.load-css('highlight.js/styles/github-dark.min.css');
}
