@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-floating-bar';
.#{$prefix}-dropdown {
	max-height: unset;

	.#{$prefix}-icons {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 4px;
		justify-items: center;
		padding: 4px 16px 0;
	}
}
