@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-popover';
.#{$prefix} {
	&-content {
		@include basic;

		width: max-content;
		padding: 8px;
		font-size: $font-size-m;
		background: $bg-1;
		border: 1px solid $pop-bd;
		border-radius: $radius-l;
		box-shadow: $shadow-m;
	}
}
