@use '../../styles/mixins.scss' as *;

$prefix: 'g-popover';
.#{$prefix} {
	&-content {
		@include basic;
		width: max-content;
		padding: 12px;
		background: $bg-1;
		border: 1px solid $bd-line;
		border-radius: $radius-m;
		box-shadow: $shadow-l;
		font-size: $font-size-m;
	}
}
