registry=http://mirrors.cloud.tencent.com/npm/
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=yZwEhuLwgWwoCI8u/gALCVX/CFbpPofnvwRGzWrIF51Qf6dsQtwurT8ETXijsksM
auto-install-peers=true