@use '../../styles/mixins.scss' as *;
@use '../../styles/polyfills.scss' as polyfills;

$prefix: '#{$ui-prefix}-drawer';
.#{$prefix} {
	@include basic;
	z-index: 1000;
	position: fixed;
	@include polyfills.inset(0, 0, 0, 0);

	&-mask {
		position: fixed;
		@include polyfills.inset(0, 0, 0, 0);
		background: rgba($color: #000000, $alpha: 0.5);
	}

	&-wrap {
		position: fixed;
		background: $bg-1;

		&-left {
			top: 0;
			left: 0;
			height: 100%;
		}

		&-top {
			top: 0;
			left: 0;
			width: 100%;
		}

		&-right {
			top: 0;
			right: 0;
			height: 100%;
		}

		&-bottom {
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}

	&-close-icon {
		position: absolute;
		top: 16px;
		right: 16px;
	}
}
