@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-avatar-group';
.#{$prefix} {
  @include basic;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: max-content;

  > .#{'#{$ui-prefix}-avatar'} {
    border: 2px solid $bg-0;
  }
}
