@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-aspect-ratio';
.#{$prefix} {
	@include basic;

	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 0;

	&-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
	}
}
