@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-dialog';
.#{$prefix} {
	@include basic;

	position: relative;

	&-close-icon {
		position: absolute;
		top: 24px;
		right: 24px;
	}

	&-header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding: 24px 24px 0;

		&-title {
			padding-right: 40px;
			font-size: 20px;
		}
	}

	&-content {
		/* Empty block */
	}

	&-footer {
		display: flex;
		flex-direction: row-reverse;
		padding: 0 24px 24px;
	}
}
