@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-image-cropper';

.#{$prefix} {
	@include basic;

	&-content {
		position: relative;
		height: 50vh;
		margin-bottom: 24px;
	}

	&-card {
		width: 640px;
		max-width: calc(100vw - 32px);
	}

	&-header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding: 24px 24px 0;

		&-title {
			padding-right: 40px;
			font-size: 20px;
		}
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 24px 24px;
	}

	&-container {
		/* stylelint-disable-next-line selector-class-pattern */
		&.reactEasyCrop_Container {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}

	&-operator-bar {
		/* Empty block */
	}

	&-operator-row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
