@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-image-preview';

.#{$prefix} {
  @include basic;

  @mixin top-level-tip {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 16px;
    color: #fff;
    background: rgba($color: #000, $alpha: 0.6);
    backdrop-filter: blur(24px);
    border-radius: $round;
  }

  display: flex;
  justify-content: center;

  &-overlay {
    overflow: hidden !important;
    align-items: center;
  }

  &-loading-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 200px;
    font-size: 48px;
    color: #666;
    text-decoration: none;
    background: #ccc;
    border-radius: $radius-m;
  }

  &-pic {
    cursor: grab;
    user-select: none;
    max-width: 100vw;
    opacity: 0;
    background-color: #fff;
    background-image: linear-gradient(45deg, #ebebeb 25%, transparent 0, transparent 75%, #ebebeb 0),
      linear-gradient(45deg, #ebebeb 25%, transparent 0, transparent 75%, #ebebeb 0);
    background-position:
      0 0,
      20px 20px;
    background-size: 40px 40px;

    &:active {
      cursor: grabbing;
    }

    &.with-transition {
      transition: transform 100ms;
    }

    &-loaded {
      opacity: 1;
    }
  }

  &-icon-wrap {
    &:not(&-disabled) {
      &:hover {
        @media (hover: hover) {
          color: $color-primary;
        }
      }
    }
  }

  &-icon {
    font-size: 18px;
  }

  &-ratio {
    @include top-level-tip;
  }

  &-toolbar {
    position: fixed;
    bottom: 40px;
    padding: 8px;
    color: $text-1;
    background: $bg-1;
    border: 1px solid $pop-bd;
    border-radius: $radius-l;
    box-shadow: $shadow-l;
  }

  &-prev-btn {
    position: fixed;
    left: 20px;
    border: 1px solid $pop-bd;
    box-shadow: $shadow-l;
  }

  &-next-btn {
    position: fixed;
    right: 20px;
    border: 1px solid $pop-bd;
    box-shadow: $shadow-l;
  }

  &-index {
    @include top-level-tip;
  }
}
