@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-image-clip';

.#{$prefix} {
	$toolbar-h: 48px;

	@include basic;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: $toolbar-h;

	&-cropper {
		height: calc(100vh - $toolbar-h);
	}

	&-toolbar {
		position: fixed;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: $toolbar-h;
		background: #000;

		&-operator {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 22px;
			color: #bbb;
			background-color: transparent !important;
			border: 0;

			&:hover {
				color: #fff;
			}
		}
	}
}
