@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-x-icon';
.#{$prefix} {
    position: relative;
    @include flex-center;
    width: 24px;
    height: 24px;
    border-radius: $round;
    font-size: 16px;
    color: $text-2;
    cursor: pointer;
    user-select: none;
    background-color: $bg-3;
    transition: background-color $duration-f;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: $round;
        background-color: transparent;
    }
    
    &:hover {
        &::before {
            background-color: $color-hover;
        }
    }

    &:active {
        &::before {
            background-color: $color-active;
        }
    }
}