@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-list';
.#{$prefix} {
	@include basic;

	background: $bg-1;

	&-bordered {
		border: 1px solid $divider;
		border-radius: $radius-l;
	}
}
