@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-list-item';
.#{$prefix} {
  @include basic;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &-clickable {
    cursor: pointer;
    transition: background-color 0.25s;

    &:hover {
      @media (hover: hover) {
        background-color: $color-hover;
      }
    }

    &:active {
      background-color: $color-active;
    }
  }

  &-mr {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  &-ml {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }

  &-bordered {
    & + .#{$prefix} {
      border-top: 1px solid $divider;
    }
  }

  &-content {
    flex: 1;
    width: 0;
  }

  &-small {
    &.#{$prefix} {
      padding: 4px 8px;
    }
  }

  &-medium {
    &.#{$prefix} {
      padding: 8px 16px;
    }
  }

  &-large {
    &.#{$prefix} {
      padding: 16px 32px;
    }
  }
}
