@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-list';
.#{$prefix} {
	@include basic;
	background: $bg-1;
	
	&-bordered {
		border: 1px solid $bd-line;
		border-radius: $radius-l;
	}
}
