@use '../../../styles/base.scss' as *;
@use '../../../styles/mixins.scss' as *;

.g-highlight-picker {
	display: flex;

	.g-highlight-setter {
		@extend .g-editor-icon;
		@include interactive;
		flex-direction: column;
		padding: 4px;
		font-size: 15px;
		line-height: 18px;
		border-top-left-radius: $radius-m;
		border-bottom-left-radius: $radius-m;

		.g-highlight-line {
			width: 14px;
			height: 3px;
			border: 1px solid rgba($color: #000000, $alpha: 0.15);
			border-radius: 1px;
			margin: 0 2px;
		}
	}

	.g-highlight-dropdown {
		@extend .g-editor-icon;
		@include interactive;
		height: 26px;
		padding: 4px 0;
		border-top-right-radius: $radius-m;
		border-bottom-right-radius: $radius-m;
		font-size: 12px;
		color: $text-2;
	}
}

.g-highlight-popup {
	.g-colors-wrapper {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(6, auto);
		gap: 6px;

		.g-color-item {
			cursor: pointer;
			width: 24px;
			height: 24px;
			border-radius: $radius-m;
			border: 1px solid rgba($color: #000000, $alpha: 0.1);
			&.active,
			&:hover {
				border: 1px solid #fff;
				box-shadow: 0 0 0 2px var(--g-color-primary);
			}
		}
	}
}
