@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-circle';
.#{$prefix} {
  @include basic;

  user-select: none;
  position: relative;

  > svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-circle {
    transform-origin: center;
    transform-box: fill-box;
    transform: rotate(-90deg);
    fill: none;
    stroke: $color-primary;
    transition: all;

    &-round {
      stroke-linecap: round;
    }
  }
}
