@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-progress';
.#{$prefix} {
	@include basic;

	display: flex;
	align-items: center;

	&-track {
		background: $bg-3;
		border-radius: $round;
	}

	&-inset {
		background: $color-primary;
		border-radius: $round;
		transition: all $duration-f;
	}

	&-horizontal {
		flex-direction: row;
		width: 100%;

		.#{$prefix}-track {
			width: 100%;

			&.#{$prefix}-track-spacing {
				margin-right: 12px;
			}
		}

		.#{$prefix}-text {
			min-width: 56px;
		}
	}

	&-vertical {
		flex-direction: column;
		height: 100%;

		.#{$prefix}-track {
			height: 100%;

			&.#{$prefix}-track-spacing {
				margin-bottom: 12px;
			}
		}
	}

	&-small {
		&.#{$prefix}-horizontal {
			.#{$prefix}-inset {
				height: 2px;
			}
		}

		&.#{$prefix}-vertical {
			.#{$prefix}-inset {
				width: 2px;
			}
		}
	}

	&-medium {
		&.#{$prefix}-horizontal {
			.#{$prefix}-inset {
				height: 6px;
			}
		}

		&.#{$prefix}-vertical {
			.#{$prefix}-inset {
				width: 6px;
			}
		}
	}

	&-large {
		&.#{$prefix}-horizontal {
			.#{$prefix}-inset {
				height: 10px;
			}
		}

		&.#{$prefix}-vertical {
			.#{$prefix}-inset {
				width: 10px;
			}
		}
	}
}
