@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-progress-circle';
.#{$prefix} {
	@include basic;

	&-detail {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
	}

	&-small {
		.#{$prefix}-detail {
			&-num {
				font-size: $font-size-m;
			}

			&-suffix {
				font-size: 10px;
			}
		}
	}

	&-medium {
		.#{$prefix}-detail {
			&-num {
				font-size: 18px;
			}

			&-suffix {
				padding-left: 2px;
				font-size: 12px;
			}
		}
	}

	&-large {
		.#{$prefix}-detail {
			&-num {
				font-size: 22px;
			}

			&-suffix {
				padding-left: 2px;
				font-size: $font-size-m;
			}
		}
	}
}
