body {
  scrollbar-width: thin;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--ui-font-size-m);
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  color: var(--ui-text-1);
  background-color: var(--ui-bg-0);
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
