.light-theme {
	--ui-bg-0: #fff;
	--ui-bg-1: #fff;
	--ui-bg-2: #f4f4f4;
	--ui-bg-3: #eee;
	--ui-bd-line: #dee0e3;
	--ui-scrollbar: 27, 27, 27;
	--ui-text-1: #1f2329;
	--ui-text-2: #666;
	--ui-text-3: #999;
	--ui-shadow-l: 0 4px 14px rgb(0 0 0 / 10%);
	--ui-color-hover: #f5f5f4;
	--ui-color-active: #e7e5e4;
	--ui-color-focus: #000;
}

.dark-theme {
	--ui-bg-0: #101014;
	--ui-bg-1: #232429;
	--ui-bg-2: #18181c;
	--ui-bg-3: #303033;
	--ui-bd-line: #424248;
	--ui-scrollbar: 200, 200, 200;
	--ui-text-1: #fff;
	--ui-text-2: #ccc;
	--ui-text-3: #999;
	--ui-shadow-l: 0 4px 14px rgb(0 0 0 / 25%);
	--ui-color-hover: #292524;
	--ui-color-active: #424547;
	--ui-color-focus: #fff;
}
