@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-field';
.#{$prefix} {
	@include basic;

	margin-bottom: 20px;

	&-align {
		&-top {
			display: block;
		}

		&-left {
			display: flex;

			.#{$prefix}-label {
				text-align: left;
			}
		}

		&-right {
			display: flex;

			.#{$prefix}-label {
				text-align: right;
			}
		}
	}

	&-label {
		padding-right: 16px;
		line-height: 32px;
	}

	&-control {
		flex: 1;

		&-inner {
			display: flex;
			flex: 1;
			align-items: center;
			min-height: 32px;
		}
	}

	&-explain {
		margin-top: 8px;
		font-size: $font-size-s;
		line-height: 1;
		color: $color-danger;
	}
}
