@use '../../styles/mixins.scss' as *;
@use '../../styles/polyfills.scss' as polyfills;

$prefix: '#{$ui-prefix}-form';
.#{$prefix} {
  @include basic;

  &-horizontal {
    display: flex;
    flex-direction: column;
  }

  &-vertical {
    display: flex;
    flex-direction: column;
  }

  &-inline {
    @include polyfills.flex-gap(32px, 'row nowrap');

    display: flex;
    flex-wrap: wrap;
  }
}
