@use './vars.scss' as *;
@forward './vars.scss';

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin interactive {
	&.disabled {
		opacity: 0.4;
	}

	&:not(.disabled) {
		&:focus,
		&:hover,
		&.active {
			background-color: $color-hover;
		}

		&:active {
			background-color: $color-active;
		}
	}
}

@mixin icon {
	display: flex;
    align-items: center;
    font-size: 18px;
    color: $text-1;
    line-height: 0;
    user-select: none;
}