html {
  scrollbar-width: thin;

  /* WebKit 内核浏览器（Chrome/Safari）的抗锯齿设置 */
  -webkit-font-smoothing: antialiased;

  /* Firefox 浏览器的抗锯齿设置 */
  -moz-osx-font-smoothing: grayscale;

  /* 浏览器会启用次像素渲染（如果支持），提升文字清晰度 */
  text-rendering: optimizelegibility;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  background-color: #f5f5f5;
  -webkit-tap-highlight-color: transparent;
}
