@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-overlay';
.#{$prefix} {
	@include basic;

	z-index: 1000;
	display: flex;
	justify-content: center;
	background: rgba($color: #000, $alpha: 50%);
}
