@use '../../styles/mixins.scss' as *;
@use '@youknown/css/src/rte-desktop.scss' as *;

.#{$ui-editor-prefix}-content {
	@extend .rich-text-container;
	position: relative;

	.ProseMirror {
		outline: none;

		&.resize-cursor {
			cursor: ew-resize;
			cursor: col-resize;
		}

		/* ----------------------- PLACEHOLDER ------------------------- */
		p.is-editor-empty:first-child::before {
			color: #adb5bd;
			content: attr(data-placeholder);
			float: left;
			height: 0;
			pointer-events: none;
		}

		h1.is-empty::before,
		p.is-empty::before {
			color: #adb5bd;
			content: attr(data-placeholder);
			float: left;
			height: 0;
			pointer-events: none;
		}

		/* ----------------------- TABLE ------------------------- */
		table {
			border-collapse: collapse;
			margin: 0;
			max-width: 100%;
			overflow: hidden;
			table-layout: fixed;

			td,
			th {
				position: relative;
			}

			p {
				margin: 0;
			}

			.selectedCell:after {
				background: rgba(200, 200, 255, 0.4);
				content: '';
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				pointer-events: none;
				position: absolute;
				z-index: 2;
			}

			.column-resize-handle {
				background-color: $color-primary;
				position: absolute;
				right: 0;
				bottom: 0;
				top: 0;
				pointer-events: none;
				width: 3px;
			}
		}

		.tableWrapper {
			padding: 1rem 0;
			overflow-x: auto;
		}

		/* ----------------------- IMAGE ------------------------- */
		img {
			transition: filter 0.1s ease-in-out;

			&.ProseMirror-selectednode {
				outline: 3px solid $color-primary;
    		filter: brightness(90%);
			}
		}

		.image-resizer {
			display: inline-flex;
			position: relative;
			flex-grow: 0;
			.resize-trigger {
				position: absolute;
				right: -6px;
				bottom: -9px;
				opacity: 0;
				transition: opacity 0.3s ease;
				color: #fff;
				background-color: #3259a5;
				border-radius: 999vmax;
				padding: 0 8px;
			}
			&:hover .resize-trigger {
				opacity: 1;
			}
		}
	}
}
