/* stylelint-disable selector-class-pattern */
@use '../../styles/mixins.scss' as *;
@use '@youknown/css/src/rte.scss' as *;

.#{$ui-editor-prefix}-content {
	/* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
	@extend .rich-text-container;

	position: relative;

	.ProseMirror {
		outline: none;

		&.resize-cursor {
			cursor: ew-resize;
			cursor: col-resize;
		}

		/* ----------------------- PLACEHOLDER ------------------------- */
		p.is-editor-empty:first-child::before {
			pointer-events: none;
			content: attr(data-placeholder);
			float: left;
			height: 0;
			color: #adb5bd;
		}

		h1.is-empty::before,
		p.is-empty::before {
			pointer-events: none;
			content: attr(data-placeholder);
			float: left;
			height: 0;
			color: #adb5bd;
		}

		/* ----------------------- TABLE ------------------------- */
		table {
			overflow: hidden;
			table-layout: fixed;
			border-collapse: collapse;
			max-width: 100%;
			margin: 0;

			td,
			th {
				position: relative;
			}

			p {
				margin: 0;
			}

			.selectedCell::after {
				pointer-events: none;
				content: '';
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgb(200 200 255 / 40%);
			}

			.column-resize-handle {
				pointer-events: none;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 3px;
				background-color: $color-primary;
			}
		}

		.tableWrapper {
			overflow-x: auto;
			padding: 1rem 0;
		}

		/* ----------------------- IMAGE ------------------------- */
		img {
			transition: filter 0.1s ease-in-out;

			&.ProseMirror-selectednode {
				filter: brightness(90%);
				outline: 3px solid $color-primary;
			}
		}

		.image-resizer {
			position: relative;
			display: inline-flex;
			flex-grow: 0;

			.resize-trigger {
				position: absolute;
				right: -6px;
				bottom: -9px;
				padding: 0 8px;
				color: #fff;
				opacity: 0;
				background-color: #3259a5;
				border-radius: 999vmax;
				transition: opacity 0.3s ease;
			}

			&:hover .resize-trigger {
				@media (hover: hover) {
					opacity: 1;
				}
			}
		}
	}
}
