/* stylelint-disable selector-class-pattern */
@use '../../styles/mixins.scss' as *;
@use '@youknown/css/src/rte.scss' as *;
@use './table.scss' as *;

.#{$ui-editor-prefix}-content {
  position: relative;
  padding: 8px 8px 8px 16px;
  font-size: 16px;

  @include rich-text;

  .ProseMirror {
    outline: none;

    &.resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }

    /* ----------------------- PLACEHOLDER ------------------------- */
    p.is-editor-empty:first-child::before {
      pointer-events: none;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      color: #adb5bd;
    }

    h1.is-empty::before,
    p.is-empty::before {
      pointer-events: none;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      color: #adb5bd;
    }

    /* ----------------------- TABLE ------------------------- */
    @include table-style;

    /* ----------------------- IMAGE ------------------------- */
    img {
      transition: filter 0.1s ease-in-out;

      &.ProseMirror-selectednode {
        filter: brightness(90%);
        outline: 3px solid $color-primary;
      }
    }

    .image-resizer {
      position: relative;
      display: inline-flex;
      flex-grow: 0;

      .resize-trigger {
        position: absolute;
        right: -6px;
        bottom: -9px;
        padding: 0 8px;
        color: #fff;
        opacity: 0;
        background-color: #3259a5;
        border-radius: 999vmax;
        transition: opacity 0.3s ease;
      }

      &:hover .resize-trigger {
        @media (hover: hover) {
          opacity: 1;
        }
      }
    }
  }
}
