@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-dropdown-menu';
.#{$prefix} {
	@include basic;
	@include scrollbar;
	overflow-y: hidden;
	&:hover {
		@include scroll-y;
	}
	max-height: 240px;
	background: $bg-1;
	padding: 8px 0;
	border-radius: $radius-m;
	border: 1px solid $bd-line;
	box-shadow: $shadow-l;
}