@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-dropdown-item';
.#{$prefix} {
	@include basic;

	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	min-height: 32px;
	margin: 0 8px;
	padding: 4px 8px;
	background: $bg-1;
	border-radius: $radius-m;
	transition: background-color $duration-f;

	&-disabled {
		cursor: not-allowed;
		opacity: $opacity-disabled;
	}

	&:not(&-disabled) {
		&:hover {
			background-color: $color-hover;
		}

		&:active {
			background-color: $color-active;
		}
	}

	&-with-prefix {
		padding-left: 8px;
	}

	&-with-suffix {
		padding-right: 8px;
	}

	&-prefix-wrap {
		display: flex;
		align-items: center;
		width: max-content;
		margin-right: 8px;
	}

	&-children-wrap {
		flex: 1;
	}

	&-suffix-wrap {
		display: flex;
		align-items: center;
		width: max-content;
		margin-left: 8px;
	}
}
