@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-heading-picker';
.#{$prefix} {
  &-label {
    @include flex-center;

    min-width: 44px;
    font-size: 14px;
    line-height: 18px;
  }
}

.#{$prefix}-dropdown {
  min-width: 160px;

  .#{$prefix}-dropdown-item {
    min-height: unset;
    padding-top: 8px;
    padding-bottom: 8px;

    &-icon {
      width: 20px;
      margin-left: 4px;
      font-size: 20px;
    }
  }
}
