@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-heading-picker';
.#{$prefix} {
	&-label {
		@include flex-center;
		font-size: 14px;
		line-height: 18px;
		min-width: 44px;
	}
}

.#{$prefix}-dropdown {
	width: 160px;

	.#{$prefix}-dropdown-item {
		min-height: unset;
		padding-top: 8px;
		padding-bottom: 8px;

		&-icon {
			width: 20px;
			font-size: 20px;
			margin-left: 4px;
		}
	}
}
