@mixin rich-text {
  --ui-color-link: #40a9ff;
  --ui-color-link-hover: #0069c2;
  --ui-heading-letter-spacing: -0.5;

  line-height: 1.75;
  color: var(--ui-text-1);
  word-break: break-all;
  background-color: var(--ui-bg-0);

  ::selection {
    background: rgb(200, 200, 255, 0.4);
  }

  hr {
    height: 0;
    margin: 16px 0;
    border: none;
    border-bottom: 1px solid var(--ui-divider);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    letter-spacing: var(--ui-heading-letter-spacing);
    word-break: break-word;

    &:first-of-type {
      margin-top: 8px;
    }
  }

  p {
    margin: 16px 0;
  }

  li > p {
    margin: 0;
  }

  /* ----------------------- IMAGE ------------------------- */
  img {
    max-width: 100%;
    border-radius: var(--ui-radius-m);
  }

  /* ----------------------- CUSTOM EMOJI ------------------------- */
  [data-type='emoji'] {
    > img {
      display: inline;
      width: 40px;
      height: 40px;
      vertical-align: bottom;
    }
  }

  /* ----------------------- HORIZONTAL RULE ------------------------- */
  [data-type='horizontalRule'] {
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

    /* stylelint-disable-next-line selector-class-pattern */
    &.ProseMirror-selectednode {
      background-color: var(--ui-bg-2);
    }

    &:hover {
      @media (hover: hover) {
        background-color: var(--ui-bg-2);
      }
    }

    hr {
      height: 0;
      margin: 0;
    }
  }

  /* ----------------------- BLOCKQUOTE ------------------------- */
  blockquote {
    margin-right: 0;
    margin-left: 0;
    padding: 0 16px;
    color: var(--ui-text-2);
    border-left: 4px solid var(--ui-color-primary);
  }

  /* ----------------------- CODE ------------------------- */
  code {
    background: var(--ui-bg-3);
    border: 1px solid transparent;
    border-radius: var(--ui-radius-m);
    box-decoration-break: clone;
  }

  /* ----------------------- CODEBLOCK ------------------------- */
  pre {
    overflow: auto;
    border: 1px solid var(--ui-divider);
    border-radius: var(--ui-radius-m);

    code {
      display: block;
      padding: 1em;
      font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
      font-size: 12px;
      background: transparent;
    }
  }

  /* ----------------------- TABLE ------------------------- */
  table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 0;

    td,
    th {
      position: relative;
      box-sizing: border-box;
      min-width: 4em;
      padding: 3px 5px;
      vertical-align: top;
      border: 1px solid var(--ui-divider);

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      background-color: var(--ui-bg-2);
    }

    p {
      margin: 0;
    }
  }

  /* ----------------------- LINK ------------------------- */
  a {
    cursor: pointer;
    color: var(--ui-color-link);
    text-decoration: none;
    border-radius: var(--ui-radius-m);

    &:hover {
      @media (hover: hover) {
        color: var(--ui-color-link-hover);
        background-color: var(--ui-bg-2);
      }
    }
  }
}
