:root {
  --ui-text-1: #1f2329;
  --ui-text-2: #646a73;
  --ui-text-3: #999;
  --ui-bg-0: #fff;
  --ui-bg-1: #fff;
  --ui-bg-2: #f5f6f7;
  --ui-bg-3: #eee;
  --ui-divider: #dee0e3;
  --ui-scrollbar: 27, 27, 27;
  --ui-radius-s: 2px;
  --ui-radius-m: 4px;
  --ui-radius-l: 6px;
  --ui-font-size-m: 14px;
  --ui-color-primary: #165dff;
  --ui-color-primary-hover: #4080ff;
  --ui-color-primary-active: #0e42d2;
  --ui-color-focus: #000;
  --ui-color-hover: #f5f5f4;
  --ui-color-active: #e7e5e4;
  --ui-color-secondary-hover: #e4e6e7;
  --ui-color-secondary-active: #cfd2d2;
  --ui-color-danger: #f53f3f;
  --ui-color-danger-hover: #f76560;
  --ui-color-danger-active: #cb272d;
  --ui-shadow-s: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --ui-shadow-m: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --ui-shadow-l: rgba(14, 18, 22, 0.35) 0px 10px 38px -10px, rgba(14, 18, 22, 0.2) 0px 10px 20px -15px;
  --ui-duration-f: 150ms;
  --ui-duration-n: 225ms;
  --ui-duration-s: 350ms;
}
