@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-bubble';
.#{$prefix} {
	padding: 6px;
	background-color: $bg-0;
	border: 1px solid $bd-line;
	border-radius: $radius-l;
	box-shadow: $shadow-m;

	&-divider {
		height: 20px;
	}
}
