@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-bubble';
.#{$prefix} {
  padding: 6px;
  background-color: $bg-0;
  box-shadow: $shadow-m;
  border-radius: $radius-l;
  border: 1px solid $bd-line;

  &-divider {
    height: 20px;
  }
}