@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-tooltip';
.#{$prefix} {
	&-content {
		@include basic;

		width: max-content;
		padding: 4px 6px;
		font-size: $font-size-s;
		border-radius: $radius-m;
		box-shadow: $shadow-l;

		&-light {
			color: #000;
			background: #fff;
			border: 1px solid #ddd;
		}

		&-dark {
			color: #fff;
			background: #222;
			border: 1px solid #444;
		}
	}
}
