@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-tooltip';
.#{$prefix} {
	&-content {
		@include basic;

		width: max-content;
		padding: 4px 6px;
		font-size: $font-size-s;
		border-style: solid;
		border-width: 1px;
		border-radius: $radius-m;
		box-shadow: $shadow-m;

		&-light {
			color: #000;
			background: #fff;
			border-color: transparent;
		}

		&-dark {
			color: #fff;
			background: #222;
			border-color: #444;
		}
	}
}
