@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-highlight-picker';
.#{$prefix} {
	display: flex;

	.#{$prefix}-setter {
		@include icon;
		@include interactive;
		flex-direction: column;
		padding: 4px;
		font-size: 15px;
		line-height: 18px;
		border-top-left-radius: $radius-m;
		border-bottom-left-radius: $radius-m;

		.#{$prefix}-line {
			width: 14px;
			height: 3px;
			border: 1px solid rgba($color: #000000, $alpha: 0.15);
			border-radius: 1px;
			margin: 0 2px;
		}
	}

	.#{$prefix}-dropdown {
		@include icon;
		@include interactive;
		height: 26px;
		padding: 4px 0;
		border-top-right-radius: $radius-m;
		border-bottom-right-radius: $radius-m;
		font-size: 12px;
		color: $text-2;
	}
}

.#{$prefix}-popup {
	.#{$prefix}-colors-wrapper {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(6, auto);
		gap: 6px;

		.#{$prefix}-color-item {
			cursor: pointer;
			width: 24px;
			height: 24px;
			border-radius: $radius-m;
			border: 1px solid rgba($color: #000000, $alpha: 0.1);
			
			&.active,
			&:hover {
				border: 1px solid #fff;
				box-shadow: 0 0 0 2px var(--g-color-primary);
			}
		}
	}
}
