@use '../../../styles/base.scss' as *;
@use '../../../styles/mixins.scss' as *;

.g-text-align-picker {
	@extend .g-editor-icon;
	@include interactive;
	display: flex;
	padding: 4px;
	border-radius: $radius-m;

	.g-text-align-label {
		font-size: 18px;
	}

	.g-text-align-dropdown {
		font-size: 12px;
		color: $text-2;
	}
}

.g-text-align-popup {
	display: flex;

	.g-align-icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		padding: 4px;
		border-radius: $radius-m;
		font-size: 18px;

		& + .g-align-icon-wrapper {
			margin-left: 4px;
		}

		&.disabled {
			opacity: 0.4;
		}

		&:not(.disabled) {
			&:hover {
				background: $color-hover;
			}
			
			&:active {
				background: $color-active;
			}

			&.active {
				background: $color-active;
			}
		}
	}
}
