@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-tag';
.#{$prefix} {
	@include basic;

	display: flex;
	align-items: center;
	width: max-content;
	background: $bg-3;
	border-radius: $radius-m;

	&-close {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&-round {
		border-radius: $round;
	}

	&-bordered {
		background: $bg-1;
		border: 1px solid $bd-line;
	}

	&-small {
		padding: 2px 8px;
		font-size: $font-size-s;

		.#{$prefix}-close {
			margin-left: 6px;
		}
	}

	&-medium {
		padding: 4px 10px;
		font-size: $font-size-m;

		.#{$prefix}-close {
			margin-left: 8px;
		}
	}

	&-large {
		padding: 6px 12px;
		font-size: $font-size-l;

		.#{$prefix}-close {
			margin-left: 10px;
		}
	}
}
