@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-slider';
.#{$prefix} {
  @include basic;

  cursor: pointer;
  user-select: none;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: $bg-3;
  border-radius: $round;
  transition: all ease-out $duration-f;

  &:hover {
    @media (hover: hover) {
      background-color: $bg-3;
    }
  }

  &-offset {
    position: absolute;
    left: 0;
    height: 100%;
    opacity: 0.3;
    background-color: $color-primary;
  }

  &-handle {
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translate(-50%, 50%);
    width: 16px;
    height: 16px;
    background-color: $bg-1;
    border: 2px solid $color-primary;
    border-radius: $round;
    outline: 0;
    transition: box-shadow ease-out $duration-f;

    &:hover {
      @media (hover: hover) {
        box-shadow: 0 0 0 2px $color-primary;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $color-primary;
    }
  }

  &-vertical {
    width: 4px;
    height: 100%;

    .#{$prefix}-offset {
      bottom: 0;
      left: unset;
    }

    .#{$prefix}-handle {
      bottom: 0;
      left: 50%;
    }
  }

  &-disabled {
    opacity: 0.4;
    filter: grayscale(100%);

    .#{$prefix}-handle {
      box-shadow: none !important;
    }
  }
}
