@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-radio';
.#{$prefix} {
	@include basic;

	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	width: max-content;
	transition: background-color $duration-f;

	&:has(:focus-visible) {
		.#{$prefix}-icon {
			@include focus-outline;
		}
	}

	&-inner {
		display: none;
	}

	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
		background-color: $bg-1;
		border: 1px solid $bd-line;
		border-radius: $round;
		transition: all ease-out $duration-f;

		&::after {
			content: '';
			transform: scale(0);
			background-color: #fff;
			border-radius: $round;
			transition: all ease-out $duration-f;
		}
	}

	&-checked {
		.#{$prefix}-icon {
			background-color: $color-primary;
			border-color: $color-primary;

			&::after {
				transform: scale(1);
			}
		}
	}

	&-disabled {
		cursor: not-allowed;
		opacity: $opacity-disabled;
	}

	&:not(&-checked, &-disabled) {
		&:hover {
			.#{$prefix}-icon {
				@media (hover: hover) {
					background-color: $color-hover;
				}
			}
		}

		&:active {
			.#{$prefix}-icon {
				background-color: $color-active;
			}
		}
	}

	&-small {
		.#{$prefix}-icon {
			width: 12px;
			height: 12px;

			&::after {
				width: 4px;
				height: 4px;
			}
		}
	}

	&-medium {
		.#{$prefix}-icon {
			width: 16px;
			height: 16px;

			&::after {
				width: 6px;
				height: 6px;
			}
		}
	}

	&-large {
		.#{$prefix}-icon {
			width: 20px;
			height: 20px;

			&::after {
				width: 8px;
				height: 8px;
			}
		}
	}
}
