@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-notice';
.#{$prefix} {
	@include basic;

	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	padding: 8px 16px;
	background: $bg-1;
	border-radius: $radius-m;
	box-shadow: $shadow-l;

	& + .#{$prefix} {
		margin-top: 8px;
	}

	&-content-wrapper {
		display: flex;
		flex: 1;
		justify-content: center;

		&-with-icon {
			margin-left: 8px;
		}
	}
}
