@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-toast';

.#{$prefix} {
  @include basic;

  pointer-events: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}
