@use '../../styles/mixins.scss' as *;

$prefix: 'g-toast';
.#{$prefix} {
	@include basic;
	position: fixed;
	padding: 12px;
	
	&-top-left {
		top: 0;
		left: 0;
	}
	
	&-top {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	
	&-top-right {
		top: 0;
		right: 0;
	}
	
	&-bottom-left {
		bottom: 0;
		left: 0;
	}
	
	&-bottom {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	
	&-bottom-right {
		bottom: 0;
		right: 0;
	}
}
