@use '../../styles/mixins.scss' as *;

$prefix: 'g-toast-item';
.#{$prefix} {
	@include basic;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	background: $bg-1;
	border: 1px solid $bd-line;
	border-radius: $radius-m;
	box-shadow: $shadow-l;
	
	& + .#{$prefix} {
		margin-top: 8px;
	}
	
	&-icon {
		margin-left: 8px;
		cursor: pointer;
	}
	
	&-title-wrap {
		flex: 1;
		display: flex;
		justify-content: center;
		margin: 0 16px;
	}
}
