@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-img-edit';
.#{$prefix} {
	@include icon;
	@include interactive;

	padding: 4px;
	border-radius: $radius-m;
}

.#{$prefix}-popup {
	width: 280px;

	.#{$prefix}-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;

		.#{$prefix}-close {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border-radius: $radius-m;

			&:hover {
				background: $bg-3;
			}
		}
	}

	.#{$prefix}-footer {
		justify-content: flex-end;
		margin-top: 16px;
	}

	.#{$prefix}-textarea {
		.#{$prefix}-textarea-inner {
			resize: none;
		}
	}
}
