@use './vars.scss' as *;
@forward './vars.scss';

@mixin focus-outline {
	outline: 2px solid $color-focus;
	outline-offset: -2px;
	transition:
		outline-offset 0s,
		outline 0s;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin interactive {
	cursor: pointer;

	&.disabled {
		opacity: 0.4;
	}

	&:not(.disabled) {
		&:hover {
			@media (hover: hover) {
				background-color: $color-hover;
			}
		}

		&.active {
			background-color: $color-hover;
		}

		&:active {
			background-color: $color-active;
		}
	}
}

@mixin icon {
	user-select: none;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 0;
	color: $text-1;
}
