@use '../../../styles/base.scss' as *;
@use '../../../styles/mixins.scss' as *;

.g-img-cleaner {
    @extend .g-editor-icon;
    @include interactive;
    padding: 4px;
    border-radius: $radius-m;
}