@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-prefix}-collapse-panel';
.#{$prefix} {
	@include basic;

	padding: 4px;

	&-header {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 32px;
		padding: 4px 8px;

		&-icon {
			background-color: inherit;

			> svg {
				transition: transform $duration-n;
			}
		}
	}

	&-box {
		overflow: hidden;
		transition:
			max-height $duration-n cubic-bezier(0.075, 0.82, 0.165, 1),
			opacity $duration-n ease-out;

		&-entered {
			opacity: 1;
		}

		&-exited {
			opacity: 0;
		}
	}

	&-bordered {
		border-bottom: 1px solid $divider;
	}
}
