@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-command-btn';
.#{$prefix} {
	@include icon;
	@include interactive;
	padding: 4px;
	border-radius: $radius-m;
  border: 0;
  outline: none;
  background-color: transparent;
	user-select: none;

	&:focus-visible {
		@include focus-outline;
	}

	&-arrow {
		font-size: 14px;
		color: $text-2;
	}
}
