@use '../../styles/mixins.scss' as *;

$prefix: '#{$ui-editor-prefix}-command-btn';
.#{$prefix} {
	@include icon;
	@include interactive;

	user-select: none;
	padding: 4px;
	background-color: transparent;
	border: 0;
	border-radius: $radius-m;
	outline: none;

	&:focus-visible {
		@include focus-outline;
	}

	&-arrow {
		font-size: 14px;
		color: $text-2;
	}
}
